/*
    Name: style.css
    Author: Will Corkill
    Description: A new stylesheet which will be applied globally across the website, instead of multiple singular stylesheets.
    Last Accessed: 26/02/2022
*/
/*
    STYLE MISCELLANEOUS FEATURES
    - Global features on every page will be in this section
*/
body { 
    height: 100%;
    margin: 0px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Hide unexpected content shrinking on extremely small devices */
}
#content {
    flex: 1 0 auto; /* Short for flex-grow, flex-shrink, flex-basis */
}
a {
    color: #007fb0;
}
input:focus { /* Remove the default outline when an input box is selected */
    outline: none;
}
#main {
    width: 60%;
    margin: auto;
}
.new_line::after {
    content: "\a\a";
    white-space: pre;
}
/* 
    STYLE HEADER
*/
#header {
    /* Static units of measurement may be used in this section, media queries 
    will be used to apply different heights etc to elements on mobile devices */
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #be1622;
    padding: 20px 0px; /* 0px to exclude horizontal padding */
    box-shadow: 0px 0px 10px 0px;
}
#uclan_logo { /* Manage default logo sizing */
    max-height: 75px;
    margin-left: 10px; /* Static measurements are used as the height is also static */
    margin-right: 50px; /* Create a larger gap between the image and header title */
}
#title {
    margin-right: auto;
    color: white;
    font-size: 1.5em;
}
nav {
    display: flex;
    justify-content: space-around; /* Equally space the items in the navigation menu */
    align-items: center;
    width: 30%; /* Allow the navigation bar to be large enough for each item */
    height: 100%;
    margin-right: 2.5%;
}
#hamburger_menu { /* Make sure the humburger menu is hidden by default */
    display: none;
}
nav a, #clearButton {
    text-decoration: none;
    color: white;
    background: none;
    border: none;
    font-size: 1.2vw;
    cursor: pointer;
}
/*
    STYLE FOOTER
*/
footer {
    display: flex;
    flex-shrink: 0; /* Stop each container from shrinking to accommodate the others */
    flex-wrap: wrap; /* Move containers to a new row if needed */
    justify-content: space-around;
    padding: 2% 0%; /* Set vertical-only padding */
    background-color: #34516c;
    color: white;
    margin-top: 2.5%;
}
footer p {
    margin: 0%;
}
/*
    STYLE EACH PAGE
*/
/* 404 Page */
#error_container {
    width: 60%;
    margin: 2.5% auto;
    padding: 10px;
    background-color: #ffe2e0;
    color: #be1622;
    border-radius: 5px;
}
/* Home page */
h2.title { /* This styling is used to make titles more prominent */
    color: #34516c;
    margin: 3.5% 0%;
    font-size: 2em;
}
h2.sub_title {
    color: #f2be1a;
    margin-bottom: 10px;
}
.video_container { /* To style the YouTube iFrame and MP4 file */
    position: relative;
    width: 80%;
    height: 0%;
    padding-bottom: 50%;
}
.video_content {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: none;
}
.offer { /* To style the offer carousel */
    width: 75%;
    margin: auto;
    background-color: #f3f3f3;
    border: 2px solid #c3c3c3;
    border-radius: 5px;
}
.offer h2 {
    padding-top: 5%;
    padding-left: 5%;
}
.offer p {
    margin: 0% 5%;
    padding-bottom: 5%;
}
/* Login page */
#sign_up_form, #password_container, #log_in_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sign_up_form.label, #log_in_form.label {
    box-sizing: border-box;
    text-align: center;
}
#sign_up_form input, #log_in_form input {
    border: 3px solid gray;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
    white-space: normal;
    width: 75%;
    height: 35px;
    transition-duration: 0.5s;
}
#sign_up_form input:hover, #sign_up_form input:focus, #log_in_form input:hover, .log_in_form input:focus {
    border-color: #be1622;
}
#sign_up_form input[name="address"] {
    height: 100px;
}
#sign_up_form input[type="submit"], #log_in_form input[type="submit"] {
    background-color: white;
    border-color: #be1622;
    color: #be1622;
    width: 20%;
    height: auto;
    white-space: normal; /* To ensure text wraps */
}
#sign_up_form input[type="submit"]:hover, #log_in_form input[type="submit"]:hover {
    background-color: #be1622;
    border-color: white;
    color: white;
}
#password_container {
    width: 100%;
}
.requirements {
    margin: 0px;
    text-align: center;
}
#password_requirements {
    margin-top: 2.5%;
    list-style-type: none;
    background-color: #e3e3e3;
    border-radius: 5px;
    width: 65%;
    padding: 10px;
}
#password_requirements li {
    text-align: center;
    white-space: normal;
}
.valid {
    color: green;
}
.valid:before {
    position: relative;
    left: -15px;
    content: "✔";
}
.invalid {
    color: #be1622;
}
.invalid:before {
    position: relative;
    left: -15px;
    content: "✖";
}
#new_account, #incorrect_details {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5% 0%;
    margin-bottom: 2.5%;
}
#new_account {
    background-color: #e1ffe0;
}
#incorrect_details {
    background-color: #ffe2e0;
}
#incorrect_details h2, #incorrect_details p {
    color: #be1622!important;
}
#new_account h2, #new_account p {
    color: #035e00!important;
}
#incorrect_details h2, #incorrect_details p, #new_account h2, #new_account p {
    width: 50%;
    text-align: center;
    height: auto;
}
/* Product page */
#products {
    display: flex;
    flex-wrap: wrap; /* Display the products in groups using flex wrapping */
    justify-content: space-evenly;
    margin: auto;
}
.product_container {
    width: 25%;
    margin: 1.5%;
    border: 2px solid #f3f3f3;
    background-color: #f3f3f3;
}
.product_container img {
    width: 100%;
}
.product_container h2 {
    margin-left: 5%;
    font-size: 1.325em;
    font-weight: bold;
}
.product_container h2:first-of-type { /* Affect only the first h2 in the product container */
    margin-top: 5%;
}
.product_description, .product_price {
    font-size: 0.8em;
    margin: 5%;
    text-align: justify;
}
.read_more {
    background: none;
    border: none;
    color: #007fb0;
    text-decoration: underline;
    margin-left: 5%;
    padding-left: 0px;
    font-size: 0.8em;
}
.purchase_button {
    width: 25%;
    background-color: white;
    border: 2px solid #be1622;
    color: #be1622;
    border-radius: 5px;
    transition-duration: 0.5s;
    display: block;
    margin: 5% auto 5%;
}
.purchase_button:hover {
    background-color: #be1622;
    color: white;
}
#filterSettings { /* Style the product filters at the top of the page. */
    width: 75%;
    margin: auto;
}
#filterSearch, #filterButtons {
    display: flex;
    justify-content: space-between;
}
#filterSettings input {
    border-radius: 10px;
}
#filterSettings input[type="submit"] {
    width: 23%;
}
#filterSettings input[type="submit"]:not([class="active_category"]) {
    background-color: white;
    border-color: #be1622;
    color: #be1622;
    width: 23%;
    white-space: normal;
    height: 5vh;
    font-size: 0.9vw;
    transition-duration: 0.5s;
}
input.active_category, #filterSettings input[type="submit"]:hover {
    background-color: #be1622;
    color: white;
    font-size: 0.9vw;
}
#searchBox { /* Style the text input box for searching */
    border-color: gray;
    width: 70%;
    font-size: 0.825vw;
}
#top_scroller {
    border-radius: 50%; /* Used to make the button round */
    padding: 2%; /* Padding is needed to make the button more prominent */
    background-color: #34516C;
    position: fixed; /* A fixed position is used to keep the button on the screen at all times */
    left: 10px; /* A static unit of measurement has been used as only a small inset is required */
    top: 45%; /* Dictate how far from the top of the screen the button should be placed */
    color: white;
    border: none;
    transition-duration: 0.5s;
    border: 0px solid #34516C;
}
#top_scroller:hover {
    color: #34516C;
    border: 2px solid #34516C;
    background-color: white;
}
/* Item page */
#reviews {
    width: 60%;
    margin: 2.5% auto;
    background-color: #e0efff;
    border-radius: 5px;
    padding: 10px;
}
#reviews * {
    color: #005177;
}
#reviews:first-child {
    margin-top: 0px;
}
#reviews:last-child {
    margin-bottom: 0px;
}
#user_reviews {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.review_container {
    border: 2px solid #005177;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 2.5%;
    width: 100%;
}
.review_container h3 {
    margin: 0px;
}
.review_rating {
    margin-top: 0%;
}
.review_description {
    text-align: justify;
}
#write_review input {
    border: #005177 2px solid;
    border-radius: 5px;
}
#write_review input[type="text"] {
    height: 35px; /* Relative measurements cannot be used in this instance, media queries will be used to optimise the size to smaller devices */
    font-size: large;
    width: 100%;
}
#write_review input[name="review_description"] {
    height: 80px;
    word-wrap: break-word;
    word-break: break-all;
}
#write_review input[type="submit"] {
    background-color: white;
    font-size: medium;
    height: auto;
    width: auto;
    transition-duration: 0.5s;
}
#write_review input[type="submit"]:hover {
    background-color: #005177;
    color: white;
}
.large {
    margin: 2.5% auto;
    width: 85%;
}