/*
    Author: Will Corkill
    Name: cart.css
    Last Accessed: 12/01/2022
    Description: Set the CSS of specific items of the cart page
*/
#main { /* Centre the content in the page and set the width of the content */
    width: 60%;
    margin: auto;
}
#main h2 {
    color: #f2be1a;
}
/*
The rows are all set to have items of equal width, including images.
Media queries will be used to increase the width of items on smaller devices.
*/
.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row p, .row strong {
    width: 100%;
    text-align: center;
}
.row img {
    max-width: 20%;
}
/*
The buttons have been given custom styling which fit with the colour scheme of
the UCLan 'brand'.
    - The buttons are given a 'hover' behaviour, so that the button inverts its
      colours when hovered over to show the interaction between  the  user  and
      the website.
*/
button {
    width: 70%;
    color: #be1622;
    border: 2px solid #be1622;
    background-color: white;
    height: 25%;
    border-radius: 5px; /* Shows the button as curved */
    transition-duration: 0.5s; /* Sets the duration of the transition when the user hovers over the element */
    display: inline-block;
}
button:hover {
    background-color: #be1622;
    color: white;
}
/* 
A container is needed for the button as the widths of the buttons are 
not as consistent as those for divs
*/
.removeContainer {
    width: 100%;
    display: flex;
    margin: auto 0;
    justify-content: space-around;
}
/* Centre the text for if there are no items in cart */
.noItems {
    text-align: center;
}

/*
Increase width of rows and change button font on mobile-sized devices.
*/
@media screen and (max-width: 480px) {
    #main {
        width: 95%;
    }
    button {
        font-size: 2vw;
    }
}