/*
    Author: Will Corkill
    Name: global.css (Formerly HeaderFooter.css)
    Last Accessed: 13/01/2022
    Description: Set some global information for the website, as well as the header and footer for each page.
*/
/* 
First, define the default behaviour, i.e. behaviour of PCs, laptops.
The first section of CSS is used to define the display flex and margins for the sticky footer.
    - Style is also applied to the footer as it has been used as a selector in this first section.
*/

/* (Coyier, 2016) regarding the structure of a page for a sticky footer */
html, body {
    margin: 0%; /* Remove all default borders set by browsers */
    font-family: sans-serif;
    height: 100%;
    overflow-x: hidden; /* Keeps the content from shrinking exponentially at extremely small sizes */
    display: flex; /* Set the display to flexbox (flexible box) */
    flex-direction: column; /* Sets the flex direction to downwards, instead of across the page. */
}
#content {
    flex: 1 0 auto; /* Short for flex-grow, flex-shrink, flex-basis */
    margin-bottom: 20px; /* A static unit of measurement is used to ensure the same gap at the bottom of each page's content */
}
footer {
    display: flex; /* Enable flexbox within the footer container */
    flex-shrink: 0; /* States the relative ability to shrink based on the width of other items */
    flex-wrap: wrap; /* Allow containers to move to a new row if there is insufficient space */
    justify-content: space-around; /* Ensure the items are equally spaced. */
    padding: 2% 0px; /* Set padding on vertical axes */
    background-color: #34516c;
    color: white;
}
footer p {
    margin: 0%;
}

/*
This section of CSS is used to style the header of each page
*/
#header { /* Style the header of the page
    Static units of measurement are used to keep the banner 
    of a consistent height when the width of the page changes.

    Media queries will be used to modify sizes of the banner 
    based on the device the user is viewing the website on. */
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #be1622;
    padding: 20px 0px; /* The 0px is used to exclude the horizontal measurements of padding */
    box-shadow: 0px 0px 10px 0px;
}
#uclan_logo { /* Manage default sizing of the logo image */
    max-height: 75px;
    margin-left: 10px; /* As the header is static in height, this will be applied to the UCLan logo */
    margin-right: 50px; /* Add a static gap between the image and the title in the header */
}
#header h2 {
    margin-right: auto;
}
#title {
    color: white;
    font-size: 1.5em; /* Em is a relative font size unit of measurement */
}
/* Set the default, PC-based behaviour of the navigation menu */
nav {
    display: flex;
    justify-content: space-around; /* Equally space items in the navigation menu */
    align-items: center;
    width: 30%;
    height: 100%;
    margin-right: 2.5%;
}
#hamburger_menu { /* Hide the hamburger menu by default */
    display: none;
}
nav a, nav a:hover { /* Set behaviour of links (exclusively in the navigation menu) */
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none; /* Remove the underlines, usually imposed by browsers by default */
    font-size: 1.2vw;
}
#clearButton {
    background: none;
    border: none;
    color: white;
    font-size: 1.2vw;
}

/* Other global features */
a { /* Set the colour of all hyperlinks to the colour specified in the design requirements document */
    color: #007fb0;
}
input:focus { /* Remove the outline when an input box is selected */
    outline: none;
}

/* Login form */
#signup, #passwordContainer, .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#signup label, .loginForm label {
    box-sizing: border-box;
    text-align: center;
}

#signup input, .loginForm input {
    border-width: 3px;
    border-color: gray;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
    white-space: normal;
    height: 35px;
    transition-duration: 0.5s;
    width: 75%;
}
#signup input[name="address"] {
    height: 100px;
}
#signup input:hover, #signup input:focus, .loginForm input:hover, .loginForm input:focus {
    border-color: #be1622;
}
#signup input[type="submit"], .loginForm input[type="submit"] {
    background-color: white;
    border-color: #be1622;
    color: #be1622;
    width: 20%;
    white-space: normal; /* Text wrapping */
    height: auto;
}
#signup input[type="submit"]:hover, .loginForm input[id="signUpButton"]:hover {
    background-color: #be1622;
    border-color: white;
    color: white;
    white-space: normal;
}
#passwordContainer {
    width: 100%;
}
.requirements {
    margin: 0px;
    text-align: center;
}
#passwordRequirements {
    margin-top: 2.5%;
    list-style-type: none;
    background-color: lightgray;
    border-radius: 5px;
    width: 65%;
    padding: 10px;
}
#passwordRequirements li {
    text-align: center;
    white-space: normal;
}
/* Add characters based on whether the password requirements are met */
.valid {
    color: green;
}
.valid:before {
    position: relative;
    left: -15px;
    content: "✔";
}
.invalid {
    color: #be1622;
}
.invalid:before {
    position: relative;
    left: -15px;
    content: "✖";
}

/* Next, define the tablet bahaviour (font and image size changes) */
@media screen and (max-width: 768px) {
    #uclan_logo {
        max-height: 50px;
    }
    #title {
        font-size: 1.15em;
    }
    #header {
        height: 75px;
    }
    nav a {
        font-size: 1.75vw;
    }
    footer {
        font-size: 0.75em; /* Reduce the size of the font on tablets */
    }
    #passwordRequirements li {
        font-size: 1.5vw;
    }
}

/* Finally, define the mobile behaviour */
@media screen and (max-width: 480px) {
    #header {
        height: 50px;
    }
    #uclan_logo {
        max-width: 75%;
        margin: 0% 2.5%;
    }
    #title {
        font-size: 0.75em;
    }
    #hamburger_menu {
        display: block; /* Make the hamburger menu visible for mobile-sized devices */
        margin-right: 5%;
    }
    nav {
        display: none; /* This will be the default display value, DOM manipulation will allow inline CSS override. */
        background-color: #c4c7d7;
        width: 100%; /* Overrides existing width from 20% to span the whole screen. */
        justify-content: space-around; /* Space out each menu button equally */
        margin-right: 0px;
        padding: 10px 0px;
    }
    nav a {
        font-size: 3vw;
    }
    footer div {
        margin-left: 5%; /* Ensure proper spacing of the footer elements */
        margin-bottom: 5%;
        flex: 100%; /* (w3schools, n.d. a) */
    }
}
