/*
    Author: Will Corkill
    Name: item.css
    Last Accessed: 13/01/2022
    Description: Style the product containers as a larger container used on products.html
*/
img:not(#uclan_logo) { /* Ensure the container's image stays within the bounds */
    width: 100%;
}
#main { /* Make a single column in the centre of the page to place all main content */
    width: 60%;
    margin: auto;
    margin-bottom: 2.5%;
}
#main a {
    font-size: 0.8em;
    margin-left: 5%;
}
/* Set the style of the product containers */
.productContainer {
    width: 100%;
    margin: 1.5%;
    border: 2px solid #f3f3f3;
    background-color: #f3f3f3;
}
.productContainer h2 {
    color: #f2be1a;
    margin: 0% 5%;
}
.productContainer h2:first-of-type { /* Pseudo-class used to only apply CSS to the first child */
    margin-top: 5%;
}
.productDescription {
   font-size: 0.8em;
   margin-left: 5%;
   margin-right: 5%;
   text-align: justify; 
}
.productPrice {
    margin-left: 5%;
    padding-right: 100%;
}
.purchaseButton {
    width: 25%;
    display: block;
    margin: 5% auto 5%; /* Centre the button */
    color: #be1622;
    border: 2px solid #be1622;
    background-color: white;
    border-radius: 5px;
    transition-duration: 0.5s; /* The duration between colour changes on hovering */
}
.purchaseButton:hover {
    background-color: #be1622;
    color: white;
}
/* The next section is used to add a break in the content after the 'Read more...' text */
.new_line::after { /* (Edpresso Team, n.d.) regarding line-break */
    content: "\a\a";
    white-space: pre;
}

/* Next, define the tablet bahaviour */
@media screen and (max-width: 768px) {
    .productContainer {
        width: 40%;
        border: 2px solid #f3f3f3;
        background-color: #f3f3f3;
    }
}

/* Finally, define the mobile behaviour */
@media screen and (max-width: 480px) {
    .productContainer {
        width: 100%;
        border: 2px solid #f3f3f3;
        background-color: #f3f3f3;
    }
}