/*
    Author: Will Corkill
    Name: item.css
    Last Accessed: 13/01/2022
    Description: Style the product containers as a larger container used on products.html
*/
img:not(#uclan_logo) { /* Ensure the container's image stays within the bounds */
    width: 100%;
}
#main, #reviews { /* Make a single column in the centre of the page to place all main content */
    width: 60%;
    margin: 2.5% auto;
}
#reviews {
    background-color: #e0efff;
    border-radius: 5px;
    padding: 10px;
}
#reviews * {
    color: #005177;
}
#reviews:first-child {
    margin-top: 0px;
}
#reviews:last-child {
    margin-bottom: 0px;
}
#userReviews {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.reviewContainer {
    border: 2px solid #005177;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 2.5%;
    width: 100%;
}
.reviewContainer h3 {
    margin: 0px;
}
.review_rating {
    margin-top: 0%;
}
.review_description {
    text-align: justify;
}
#main a {
    font-size: 0.8em;
    margin-left: 5%;
}
/* Set the style of the product containers */
.productContainer {
    width: 100%;
    border: 2px solid #f3f3f3;
    background-color: #f3f3f3;
}
.productContainer h2 {
    color: #f2be1a;
    margin: 0% 5%;
}
.productContainer h2:first-of-type { /* Pseudo-class used to only apply CSS to the first child */
    margin-top: 5%;
}
.productDescription {
   font-size: 0.8em;
   margin-left: 5%;
   margin-right: 5%;
   text-align: justify; 
}
.productPrice {
    margin-left: 5%;
    padding-right: 100%;
}
.purchaseButton {
    width: 25%;
    display: block;
    margin: 5% auto 5%; /* Centre the button */
    color: #be1622;
    border: 2px solid #be1622;
    background-color: white;
    border-radius: 5px;
    transition-duration: 0.5s; /* The duration between colour changes on hovering */
}
.purchaseButton:hover {
    background-color: #be1622;
    color: white;
}

/* This section of CSS will be used to style the form used to leave a review */
#write_review input {
    border: #005177 2px solid;
    border-radius: 5px;
}
#write_review input[type="text"] {
    height: 35px; /* Relative measurements cannot be used in this instance, media queries will be used to optimise the size to smaller devices */
    font-size: large;
    width: 100%;
}
#write_review input[name="review_description"] {
    height: 80px;
    word-wrap: break-word;
    word-break: break-all;
}
#write_review input[type="submit"] {
    background-color: white;
    font-size: medium;
    height: auto;
    width: auto;
    transition-duration: 0.5s;
}
#write_review input[type="submit"]:hover {
    background-color: #005177;
    color: white;
}

/* Next, define the tablet bahaviour */
@media screen and (max-width: 768px) {
    .productContainer {
        border: 2px solid #f3f3f3;
        background-color: #f3f3f3;
    }
}

/* Finally, define the mobile behaviour */
@media screen and (max-width: 480px) {
    .productContainer {
        width: 100%;
        border: 2px solid #f3f3f3;
        background-color: #f3f3f3;
    }
}